<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="conf/mybatis/db.properties" />
	
	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
	<typeAliases>
		<typeAlias alias="UserVo" 				type="com.luxsky.chat.vo.UserVo" />
		<typeAlias alias="UserStatusVo" 		type="com.luxsky.chat.vo.UserStatusVo" />
		<typeAlias alias="UnreadCountVo" 		type="com.luxsky.chat.vo.UnreadCountVo" />
		<typeAlias alias="ChatRoomVo" 			type="com.luxsky.chat.vo.ChatRoomVo" />
		<typeAlias alias="ChatMessageVo" 		type="com.luxsky.chat.vo.ChatMessageVo" />
		<typeAlias alias="ChatReadStatusVo" 	type="com.luxsky.chat.vo.ChatReadStatusVo" />
		<typeAlias alias="ChatMessageListVo" 	type="com.luxsky.chat.vo.ChatMessageListVo" />
		<typeAlias alias="ChatMessageListParam" type="com.luxsky.chat.vo.ChatMessageListParam" />
	</typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${driver}" />
                <property name="url" value="${url}" />
                <property name="username" value="${username}" />
                <property name="password" value="${password}" />
                <property name="poolPingQuery" value="select 1"/>
                <property name="poolPingEnabled" value="true"/>
                <property name="poolPingConnectionsNotUsedFor" value="120000"/>
            </dataSource>
        </environment>
    </environments>
	<mappers>
		<mapper resource="conf/mybatis/mappers/user_mapper.xml" />
		<mapper resource="conf/mybatis/mappers/chatroom_mapper.xml" />
	</mappers>
	
</configuration>

