<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luxsky.chat.chatroom.Mapper">

	<select id="chatRoomCheck" parameterType="ChatRoomVo" resultType="Integer">
		<![CDATA[
		select count(1)
		from TALK_ROOM 
		where 
			(seller_email=#{seller_email} and buyers_email=#{buyers_email})
			or
			(seller_email=#{buyers_email} and buyers_email=#{seller_email})
			and product_seq=#{product_seq}
			
		]]>
	</select>
	
	<select id="selectChatRoom" parameterType="ChatRoomVo" resultType="Integer">
		<![CDATA[
		select talk_room_id
		from TALK_ROOM 
		where 
			(seller_email=#{seller_email} and buyers_email=#{buyers_email})
			or
			(seller_email=#{buyers_email} and buyers_email=#{seller_email})
			and product_seq=#{product_seq}
		]]>
	</select>
	
	<insert id="createChatRoom" parameterType="ChatRoomVo">
		insert into TALK_ROOM (
			product_seq,
			seller_email,
			buyers_email
		)
		values (
			#{product_seq}, 
			#{seller_email},
			#{buyers_email}
	    );
	    <selectKey keyProperty="talk_room_id" resultType="Integer">
			SELECT LAST_INSERT_ID();
		</selectKey>
	</insert>
	
	<select id="getChatRoom" parameterType="Integer" resultType="ChatRoomVo">
		<![CDATA[
		select talk_room_id, product_seq, seller_email, buyers_email from TALK_ROOM where talk_room_id = #{talk_room_id}
		]]>
	</select>
	
	<select id="getChatReadStatus" parameterType="Integer" resultType="ChatReadStatusVo">
		<![CDATA[
		select talk_room_id, product_seq, seller_email, buyers_email, seller_read_dt, buyers_read_dt from TALK_ROOM where talk_room_id = #{talk_room_id}
		]]>
	</select>
	
	<insert id="insertChatMessage" parameterType="ChatMessageVo">
		insert into TALK (
			product_seq,
			seller_email,
			buyers_email,
			reg_dt,
			content,
			writer,
			msg_type,
			talk_room_id
		)
		values (
			#{product_seq}, 
			#{seller_email},
			#{buyers_email},
			NOW(),
			#{content},
			#{writer},
			#{msg_type},
			#{talk_room_id}
	    );
	    <selectKey keyProperty="talk_seq" resultType="Integer">
			SELECT LAST_INSERT_ID();
		</selectKey>
	</insert>
	
	<select id="selectChatMessage" parameterType="Integer" resultType="ChatMessageVo">
		<![CDATA[
		select 
			talk_seq, product_seq, seller_email, buyers_email, reg_dt, content, writer, msg_type, talk_room_id
		from 
			TALK
		where 
			talk_seq = #{talk_seq}
		;
		]]>
	</select>
	
	<select id="getChatMessageList" parameterType="ChatMessageListParam" resultType="ChatMessageListVo">
		<![CDATA[
		select 
			product_seq, seller_email, buyers_email, talk_seq, reg_dt, content, writer, msg_type, talk_room_id
		from 
			TALK
		where 
			date_format(reg_dt, '%Y-%m-%d-%T') > date_format(#{latest}, '%Y-%m-%d-%T')
			and
			talk_room_id = #{talk_room_id}
		order by reg_dt asc;
		]]>
	</select>
	
	<update id="updateLatestToSeller" parameterType="Integer">
		<![CDATA[
		update TALK_ROOM
			SET seller_read_dt = NOW()
		WHERE talk_room_id = #{talk_room_id}
		]]>
	</update>
	<update id="updateLatestToBuyers" parameterType="Integer">
		<![CDATA[
		update TALK_ROOM
			SET buyers_read_dt = NOW()
		WHERE talk_room_id = #{talk_room_id}
		]]>
	</update>
	
	<select id="selectCountSellerUnread" parameterType="String" resultType="UnreadCountVo">
		<![CDATA[
		select talk_room_id, count(1) as talk_count from (
			select a.talk_room_id from
			TALK a, 
				(select talk_room_id, seller_read_dt from 
					TALK_ROOM 
					where seller_email = #{sellerEmail}) b
			where 
				a.talk_room_id = b.talk_room_id
				and
				a.reg_dt > b.seller_read_dt
				and
				a.writer = 'B') c
		group by talk_room_id
		]]>
	</select>
	<select id="selectCountBuyersUnread" parameterType="String" resultType="UnreadCountVo">
		<![CDATA[
		select talk_room_id, count(1) as talk_count from (
			select a.talk_room_id from
			TALK a, 
				(select talk_room_id, buyers_read_dt from 
					TALK_ROOM 
					where buyers_email = #{buyersEmail}) b
			where 
				a.talk_room_id = b.talk_room_id
				and
				a.reg_dt > b.buyers_read_dt
				and
				a.writer = 'S') c
		group by talk_room_id
		]]>
	</select>
</mapper>
	