<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luxsky.chat.user.Mapper">

	<select id="selectUserStatus" parameterType="String" resultType="UserStatusVo">
		<![CDATA[
		select status, chat_alert, alert_start, alert_end, deviceType, deviceToken
		from MEMBER where email = #{email}
		]]>
	</select>
	<select id="checkAlertTime" parameterType="String" resultType="Integer">
		<![CDATA[
		select 
			count(1)
		from 
			MEMBER 
		where 
			email = #{email}
			and alert_start < TIME_FORMAT(CURRENT_TIME, '%k:%i')
			and alert_end > TIME_FORMAT(CURRENT_TIME, '%k:%i')
		]]>
	</select>

	<select id="memberCheck" parameterType="UserVo" resultType="Integer">
		<![CDATA[
		select count(1)
		from MEMBER where email = #{email} and passwd=#{passwd}
		]]>
	</select>
	
	<select id="userStatus" parameterType="String" resultType="String">
		<![CDATA[
		select status
		from MEMBER where email = #{email}
		]]>
	</select>
</mapper>
	